{% extends 'base.html'%}
{% load staticfiles %}
{% block content%}

<div class=backpanel>
    <div class="board">
        <p class="project-title">Gallery</p>
        <div class="gallery-container">
            <div class="row">
                <img class="pic" src="https://res.cloudinary.com/dl5spujr5/image/upload/v1575599231/blog/blog_942E384C-578D-4297-87D4-F57B3385FA81_scthop-c_scale_w_500_qpbvmu.jpg" alt="not available" />
                <h1>I got new Shoes!</h1>
                <h2>2019/12/05&nbsp;</h2>
                <h3>Pegasus New Edition&nbsp;</h3>

                <div class="row">
                    <p>xhslrkd: Nice man!</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock%}
