{% extends 'base.html'%}
{% load staticfiles %}
{% block content %}
<div class=backpanel>
	<div class="board">
		<p class="project-title">Comfort Women Interactive Video</p>
		<div class="row">
		<iframe id="player" type="text/html" width="640" height="360"
  src="https://www.youtube.com/embed/dwEaJtMp03g"
  frameborder="0"></iframe>
			<div class="col-lg">
				<p class="project-title" style="margin-top: 100px;">Technology Summary</p>
				<p>Processing(Java-based software sketchbook for visual effects)</p>
			<p class="project-title">Description</p>
			<p>This was for my English class project. Thinking about how to catch people's attention, I have decided to emulate a comfort women memorial. The memorial consists of a girl sitting on a chair next to an empty chair that expresses sympathy for them. With this in mind, my program runs an informative video of them when a person sits in front of a computer monitor with a flower in a specific color; the color triggers the video when it is spotted on a certain area using a simple color detection technique. </p>
			</div>					
			</div>
	</div>
	<div class="board">
			<p class="project-title">AwesomeProjectNumberOne!</p>
		<div class="row">
			<div class="col-lg">
				<p class="project-title" style="margin-top: 100px;">Technology Summary</p>
				<p>Laravel PHP HTML5 CSS3 Javascript</p>
			<p class="project-title">Description</p>
			<p>For my Computer Science Practicum course, my team, which consisted of three people, made a mock property management website. It is an app that allows for a smooth interaction between landlords and tenants. People could sign up either as a landlord or a tenant. Functionalities include landlords requesting money and maintenance requests for tenants as well as simple password resetting through email and the website's contact information. This project was built with  Laravel, a PHP-based web framework.</p>
			</div>					
			</div>	

	</div>
	<div class="board">
			<p class="project-title">Database Final Assignment</p>
		<div class="row">
			<div class="col-lg">
				<p class="project-title" style="margin-top: 100px;">Technology Summary</p>
				<p>MySQL PHP HTML5</p>
			<p class="project-title">Description</p>
			<p>This was the last assignment for my database class. The project consists of two parts: a Graphic User Interface part and a Java Database Connection Driver part. Both the Java Swing Interface and JDBC techniques were used to access our school database.</p>
			</div>					
			</div>	

	</div>
	<div class="board">
			<p class="project-title">Dynamic For-loop Generator</p>
		<div class="row">
			<div class="col-lg">
				<p class="project-title" style="margin-top: 100px;">Technology Summary</p>
				<p>Java</p>
			<p class="project-title">Description</p>
		<p>This is a sample of a dynamic practice problem generator that I coded for my research. This Java program generates one or multiple for-loops with desired string contents. It basically takes the number of for-loop, specific loop condition, and contents on each loop and returns as a whole string.</p>
			</div>					
			</div>	
		
	</div>
	<div class="board">
			<p class="project-title">Random Expression</p>
		<div class="row">
			<div class="col-lg">
				<p class="project-title" style="margin-top: 100px;">Technology Summary</p>
				<p>Java</p>
			<p class="project-title">Description</p>
		<p>This is a sample of a Java program that expands a single int variable into random arithmetic sequence. It can specify</p>
			</div>					
			</div>	

	</div>
</div>

{% endblock%}